{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-spread"
  ]
}
